<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font-Awesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" >
    <!--VUE-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <!--CSS-->
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <main>
        <div id="top-bar">
            <div class="main-container" id="root">
                <div class="nav-bar-left">
                    <section id="top-status">
                        <nav>
                            <img src="img/avatar_io.jpg" id="size-2" alt="">
                            <span>Sofia</span>
                        </nav>
                        <nav class="nav-right">
                            <i class="fa-solid fa-circle-notch" style="margin-right: 10px;"></i>
                            <i class="fa-regular fa-message" style="margin-right: 10px;"></i>
                            <i class="fa-solid fa-ellipsis-vertical" style="margin-right: 10px;"></i>
                        </nav>
                    </section>
                    <section id="banner-notifiche">
                        <div id="info">
                            <i class="fas fa-bell-slash"></i>
                            <span>Ricevi notifiche di nuovi messaggi</span> 
                            <p>Attiva notifiche desktop</p>
                        </div>
                    </section>
                    <section id="input-container">
                        <button id="cerca"><img src="img/lens.svg" id="lens"></button>
                        <input type="search" name="cerca-contatto" id="find-user" placeholder="Cerca o inizia una nuova chat">
                    </section>
                    <section id="container">
                        <div class="utenti">
                            <div id="container-utente" v-for="(element, index) in contacts" @click="activeUser(index)">
                                <nav class="nav-left">
                                    <img  :src="'img/avatar' + element.avatar + '.jpg'" :alt="element.name" id="size">
                                    <div id="informazioni-utente">
                                        <h4>{{element.name}}</h4>
                                        <p>Ultimo messaggio inviato</p>
                                    </div>
                                </nav>
                                <nav id="nav-right">
                                    <p>12:00</p>
                                </nav>
                            </div>
                        </div>
                    </section>
                </div>
                <!---->
                <div class="messages-container">
                    <div id="nav-top">
                        <nav class="nav-left">
                            <img :src="'img/avatar' + contacts[activeUserId].avatar + '.jpg'" alt="contacts[activeUserId].name" id="size">
                            <div id="informazioni-utente">
                                <h4 style="margin-top: 11px;">{{contacts[activeUserId].name}}</h4>
                                <p>Ultimo accesso oggi alle 12:00</p>
                            </div>
                        </nav>
                        <nav class="nav-right">
                            <img src="img/lens.svg" style="width: 25px; margin-right: 5px;"></button>
                            <i class="fa-solid fa-paperclip" style="width: 30px; padding: 9px;"></i>
                            <i class="fa-solid fa-ellipsis-vertical" style="width: 30px; padding: 15px;"></i>
                        </nav>
                    </div>
                    <div id="area-messaggi">
                        <div id="mex-right" :class="{sent : message.status === 'sent'}" v-for='(message, index) in this.contacts[activeUserId].messages'>
                            <div id="mex-container">
                                {{message.text}}
                                <p>{{message.date}}</p>
                            </div>
                        </div>
                        <div id="mex-left">
                        </div>
                    </div>
                    <div id="nav-bottom">
                        <i class="fas fa-smile" style="font-size: 26px; margin-right: 26px; vertical-align: sub;"></i>
                        <input type="text" placeholder="Scrivi un messaggio" id="input-text">
                        <i class="fas fa-microphone"></i>
                    </div>
                </div>
            </div>
        </div>





    </main>

<script src="js/main.js" type="text/javascript"></script>
</body>
</html>